.form__labelText {
    display: inline-block;
    max-width: 200px;
    margin-right: 5px;
    padding-bottom: 2px;
}

.form__field {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.form__fieldset {
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 100%;
    max-width: 800px;
    background-color: #ddd;
}

.form__button {
    width: 100%;
    background-color: rgb(9, 121, 9);
    color: #ddd;
    border: 0px;
    border-radius: 5px;
    padding: 5px;
}

.form__labelText {
    margin: auto;
}