html {
    box-sizing: border-box;
}

*,
 ::after,
 ::before {
    box-sizing: inherit;
}

.body {
    background-color: #dddddd;
    max-width: 800px;
    margin: auto;
    font-family: 'Lato', sans-serif;
    background-image: url("../images/pexels-photo-259132.jpeg");
    height: 400px;
}

.header {
    border: 0px;
    border-radius: 5px;
    background-color: rgb(9, 121, 9);
    padding: 10px;
    color: #dddddd;
    font-size: 30px;
    font-weight: 700;
}

.js-currencySign {
    font-weight: 700;
}